<section class="mood grid-x">
  <article class="cell small-12 large-6">
    <!-- th - reconsider `item`, in other areas its called mood-item -->
    <div id="mood-container-show">
      <% @mood_items.each do |item| %>
        <% top_coord = item.top_coord.to_f %>
        <%= image_tag item.item.url, :style => "position: absolute; top: #{item.top_coord.to_f - 160}px; left: #{item.left_coord.to_f - 30}px; z-index: #{item.z_index}; transform: #{item.transform}" %>
      <% end %>
    </div>
  </article>

  <article class="cell small-12 large-6">
    <h3><%= @mood.name%></h3>
    <p><%= @mood.description%></p>
      <% if @mood.prompt %>
      <p>
        <%= @mood.prompt.text %>
    </p>
    <% end %>
  </article>
</section>

<section class="mood grid-x" id="second_mood">
  <article class="cell small-12 large-6">
    <div id="mood-container-show">
      <% @second_mood_items.each do |item| %>
        <% top_coord = item.top_coord.to_f %>
        <%= image_tag item.item.url, :style => "position: absolute; top: #{item.top_coord.to_f - 160}px; left: #{item.left_coord.to_f - 30}px; z-index: #{item.z_index}; transform: #{item.transform}" %>
      <% end %>
    </div>
  </article>

  <article class="cell small-12 large-6">
    <h3><%= @second_mood.name%></h3>
    <p><%= @second_mood.description%></p>
  </article>
</section>
