  <% @items.each_with_index do |item, i| %>
    <% if(i > 4) %>
      <%= image_tag item.url, class: 'hidden draggable', alt: item.name %>
    <% else %>
      <%= image_tag item.url, class: 'draggable', alt: item.name %>
    <% end %>
  <% end %>

<section>
  <aside>
    <button id="save"></button>
    <button id="tutorial"></button>
    <div class="tooltip" style="display: none">
      <h5>How to use</h5>
      <p><%= image_tag 'Drag.gif', alt: 'Drag motion' %></p>
      <p>Make an mood by dragging items into the box</p>
      <p><%= image_tag 'DoubleTap.gif', alt: 'Drag motion' %></p>
      <p>Double click to bring an item forward</p>
    </div>
    <button id="trash" ></button>
  </aside>
  <div id="mood-container">
  </div>
</section>

<section class="prompt" id='<%= @prompt.id %>'>
  <%= @prompt.text %>
</section>

<section class="forms">
  <form id="mood_form">
    <h5>Save ur mood</h5>
    <input type='text' id='mood_name' placeholder='Title'/>
    <input type='text' id='mood_description' placeholder='Description'/>
    <div class="button-container"><button type='submit' id='mood_button' class='button'>YES</button></div>
  </form>
</section>
