<!DOCTYPE html>
<html>
  <head>
    <title>HamburgerBurger</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" type="text/javascript"></script>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,900" rel="stylesheet">

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <h2><%= link_to 'SAME', root_path, class: 'logo' %></h2>
      <nav class="login">
        <% if !@user %>
        <%= link_to "Log In", "/auth/github"%>
        <% else %>
        <%= link_to "Log Out", logout_path, method: :post%>
        <% end %>
      </nav>
    </header>

    <main>
      <!-- <section class="flash">
      <% flash.each do |name, message| %>
        <div class="<%= name %>"><%= message %></div>
      <% end %>
    </section> -->
    <%= yield %>
    <%# params %>
    </main>

    <footer>
      <p>
        ©2017, Foaiahnab™
      </p>
    </footer>
  </body>
</html>
